<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>About</title>
    <link rel="stylesheet" href="/public/styles/styles.css" />
    <link rel="stylesheet" href="/public/styles/about.css">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap"
      rel="stylesheet"
    />
  </head>

    <header>
      <div id="logo">
        <img id="logoImg" src="/public/images/peterLogo.png" alt="" />
        <h1>Peter Draws</h1>
      </div>
      <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li><a class="nav-item" href="/"> Home </a></li>
          <li><a class="nav-item" href="/about"> About </a></li>
          <li><a class="nav-item" href="/gallery"> Gallery </a></li>
        </ul>
      </nav>
    </header>
    <section>
        <h1 id="about-header">About Me</h1>
            <div id="container">
                <p id="aboutText">
                    Hi, I'm Peter Draws, and I enjoy drawing. My real name is Peter
                    Deligdisch. Here is where I do primarily timelapse drawing videos. I draw,
                    and then I speed up the footage using Adobe Premiere Pro and record a
                    little commentary to put over it. My favorite pens are probably Rotring
                    Isographs, and I like Crescent Rendr and Moleskine Sketchbooks, or Bristol
                    paper for loose-leaf. I also enjoy a wide variety of fountain pens, glass
                    dip pens, etc. I just like drawing lines! I also attempt other types of
                    art from time to time as well, just to keep things fresh. Let me know if
                    you have any questions, thanks for stopping by!
                </p>
            <aside>
                <img id="about-img" src="/public/images/peter3.webp" alt="An Image from Peter">
            </aside>
            </div>
         <hr>
    </section>
  </body>
</html>
