<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Gallery</title>
    <link rel="stylesheet" href="/public/styles/styles.css" />
    <link rel="stylesheet" href="/public/styles/gallery.css">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <div id="logo">
        <img id="logoImg" src="/public/images/peterLogo.png" alt="" />
        <h1>Peter Draws</h1>
      </div>
      <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li><a class="nav-item" href="/"> Home </a></li>
          <li><a class="nav-item" href="/about"> About </a></li>
          <li><a class="nav-item" href="/gallery"> Gallery </a></li>
        </ul>
      </nav>
    </header>

          <section>
                <div class="row">
                  <div class="column">
                      <img src="https://i1.sndcdn.com/artworks-000427586673-r45kqz-t500x500.jpg" alt="image that i drew" width="600" height="600">
                  </div>
                </div>

                <div class="row">
                  <div class="column">
                      <img src="https://i1.sndcdn.com/artworks-000198974111-onx0h6-t500x500.jpg" alt="image that i drew" width="600" height="600">
                  </div>
                </div>

                <div class="row">
                  <div class="column">
                      <img src="https://images.squarespace-cdn.com/content/v1/528ce55ce4b0baede6cf5cb7/1578518297398-6TBC1ZIS3MG7NAT8AZMJ/seventeen4.png" alt="image that i drew" width="600" height="400">
                  </div>
                </div>

                <div class="row">
                  <div class="column">
                      <img src="https://3.bp.blogspot.com/-fsFJgvR5uPY/XNC8cYRoB_I/AAAAAAAAAcM/CQW0DazZuP4BYu1x2Rqn9mddknvGzXW4QCLcBGAs/s1600/Peter-Draws.rocket-main1.jpeg" alt="image that i drew" width="600" height="400">
                  </div>
                </div>
      </section>

  </body>
</html>
